<!--<mat-card-content>-->
<!-- <form class="my-form">-->
<!--<mat-form-field class="full-width">
  <mat-label>User Name</mat-label>
  <input placeholder="User Name" name="uname" required [(ngModel)]="userName">
</mat-form-field>
<mat-form-field class="full-width">
  <mat-label>Password</mat-label>
  <input placeholder="Password" name="password">
</mat-form-field>-->
<!-- </form>-->
<!--</mat-card-content>
<button (click)="loginToSystem">Login</button>-->
<div class="main">
  <h1 class="projectTitle">Ticketing Support System</h1>
  <mat-card>
    <mat-card-content>
      <form #loginForm="ngForm" (ngSubmit)="loginToSystem()">
        <h2>Log In</h2>
        <mat-error *ngIf="!loginValid">
          The username and password were not recognized
        </mat-error>
        <mat-form-field>
          <input matInput placeholder="User Name" [(ngModel)]="username" name="username" required>
          <mat-error>
            Please provide a valid user name
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput type="password" placeholder="Password" [(ngModel)]="password" name="password" required>
          <mat-error>
            Please provide a valid password
          </mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary" [disabled]="!loginForm.form.valid">Login</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
