<div class="home-page">
  <div class="topnav" style="width: 100%">

    <button (click)="openCreateTicket()" *ngIf="userLevel == 'CUSTOMER'" class="create-ticket-button">
      Create Ticket
    </button>
    <span  class="topnav-title" style=" text-align: center; ">Support Ticket System</span>
    <button class="logoutBtn" (click)="logoutFromSystem()">Log Out</button>
  </div>
  <br />
  <div style="width: 100%; margin-top: 60px; margin-left: 20px; margin-right: 20px;">
    <div>
      <mat-tab-group (selectedTabChange)="onTabChanged($event)">
        <mat-tab label="Open">
          <table summary="Open task List" matSort mat-table [dataSource]="dataSource"
                 class="mat-elevation-z8">
            <ng-container matColumnDef="ticketId">
              <th id="ticketId" mat-header-cell *matHeaderCellDef>Ticket Id</th>
              <td mat-cell *matCellDef="let element">
                <span matTooltip="{{element.ticketId}}"
                      matTooltipPosition="left">{{element.ticketId}}</span>
              </td>
            </ng-container>
            <ng-container matColumnDef="title">
              <th id="title" mat-header-cell *matHeaderCellDef>Title</th>
              <td mat-cell *matCellDef="let element">
                <span matTooltip="{{element.title}}"
                      matTooltipPosition="left">{{element.title}}</span>
              </td>
            </ng-container>
            <ng-container matColumnDef="description">
              <th id="description" mat-header-cell *matHeaderCellDef>Description</th>
              <td mat-cell *matCellDef="let element">
                <span matTooltip="{{element.description}}"
                      matTooltipPosition="left">{{element.description}}</span>
              </td>
            </ng-container>
            <ng-container matColumnDef="action">
              <th id="action" mat-header-cell *matHeaderCellDef>Action</th>
              <td mat-cell *matCellDef="let element">
                <button mat-raised-button *ngIf="userLevel != 'CUSTOMER'"
                        (click)="changeStatus(element.ticketId,'InProgress')"
                        [disabled]="isButtonClick">
                  IN PROGRESS
                </button>
                <button mat-raised-button *ngIf="userLevel == 'SUPPORT_OFFICER'
                        && element.assignee == null"
                        (click)="addAssigneeToTicket(element.ticketId)">
                  <mat-icon> directions_walk</mat-icon>
                  Add Assignee
                </button>
                <span *ngIf="userLevel == 'CUSTOMER'">N/A</span>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
          <mat-paginator #paginator
                         [length]="ticketsList.length"
                         [pageSize]="10"
                         [pageSizeOptions]="[10, 15, 20]"
                         showFirstLastButtons>
          </mat-paginator>
        </mat-tab>
        <mat-tab label="In Progress">
          <table summary="In Progress task List" matSort mat-table [dataSource]="dataSource"
                 class="mat-elevation-z8">
            <ng-container matColumnDef="ticketId">
              <th id="ticketId" mat-header-cell *matHeaderCellDef>Ticket Id</th>
              <td mat-cell *matCellDef="let element">
                <span matTooltip="{{element.ticketId}}"
                      matTooltipPosition="left">{{element.ticketId}}</span>
              </td>
            </ng-container>
            <ng-container matColumnDef="title">
              <th id="title" mat-header-cell *matHeaderCellDef>Title</th>
              <td mat-cell *matCellDef="let element">
                <span matTooltip="{{element.title}}"
                      matTooltipPosition="left">{{element.title}}</span>
              </td>
            </ng-container>
            <ng-container matColumnDef="description">
              <th id="description" mat-header-cell *matHeaderCellDef>Description</th>
              <td mat-cell *matCellDef="let element">
                <span matTooltip="{{element.description}}"
                      matTooltipPosition="left">{{element.description}}</span>
              </td>
            </ng-container>
            <ng-container matColumnDef="action">
              <th id="action" mat-header-cell *matHeaderCellDef>Action</th>
              <td mat-cell *matCellDef="let element">
                <button mat-raised-button *ngIf="userLevel != 'CUSTOMER'"
                        (click)="changeStatus(element.ticketId,'Closed')"
                        [disabled]="isButtonClick">
                  CLOSE
                </button>
                <span *ngIf="userLevel == 'CUSTOMER'">N/A</span>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
          <mat-paginator #paginator
                         [length]="ticketsList.length"
                         [pageSize]="10"
                         [pageSizeOptions]="[10, 15, 20]"
                         showFirstLastButtons>
          </mat-paginator>
        </mat-tab>
        <mat-tab label="Closed">
          <table summary="Closed task List" matSort mat-table [dataSource]="dataSource"
                 class="mat-elevation-z8">
            <ng-container matColumnDef="ticketId">
              <th id="ticketId" mat-header-cell *matHeaderCellDef>Ticket Id</th>
              <td mat-cell *matCellDef="let element">
                <span matTooltip="{{element.ticketId}}"
                      matTooltipPosition="left">{{element.ticketId}}</span>
              </td>
            </ng-container>
            <ng-container matColumnDef="title">
              <th id="title" mat-header-cell *matHeaderCellDef>Title</th>
              <td mat-cell *matCellDef="let element">
                <span matTooltip="{{element.title}}"
                      matTooltipPosition="left">{{element.title}}</span>
              </td>
            </ng-container>
            <ng-container matColumnDef="description">
              <th id="description" mat-header-cell *matHeaderCellDef>Description</th>
              <td mat-cell *matCellDef="let element">
                <span matTooltip="{{element.description}}"
                      matTooltipPosition="left">{{element.description}}</span>
              </td>
            </ng-container>
            <ng-container matColumnDef="action">
              <th id="action" mat-header-cell *matHeaderCellDef>Action</th>
              <td mat-cell *matCellDef="let element">
                <button mat-raised-button
                        (click)="changeStatus(element.ticketId,'ReOpen')"
                        [disabled]="isButtonClick">
                  REOPEN
                </button>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
          <mat-paginator #paginator
                         [length]="ticketsList.length"
                         [pageSize]="10"
                         [pageSizeOptions]="[10, 15, 20]"
                         showFirstLastButtons>
          </mat-paginator>
        </mat-tab>
        <mat-tab label="Reopened">
          <table summary="Open task List" matSort mat-table [dataSource]="dataSource"
                 class="mat-elevation-z8">
            <ng-container matColumnDef="ticketId">
              <th id="ticketId" mat-header-cell *matHeaderCellDef>Ticket Id</th>
              <td mat-cell *matCellDef="let element">
                <span matTooltip="{{element.ticketId}}"
                      matTooltipPosition="left">{{element.ticketId}}</span>
              </td>
            </ng-container>
            <ng-container matColumnDef="title">
              <th id="title" mat-header-cell *matHeaderCellDef>Title</th>
              <td mat-cell *matCellDef="let element">
                <span matTooltip="{{element.title}}"
                      matTooltipPosition="left">{{element.title}}</span>
              </td>
            </ng-container>
            <ng-container matColumnDef="description">
              <th id="description" mat-header-cell *matHeaderCellDef>Description</th>
              <td mat-cell *matCellDef="let element">
                <span matTooltip="{{element.description}}"
                      matTooltipPosition="left">{{element.description}}</span>
              </td>
            </ng-container>
            <ng-container matColumnDef="action">
              <th id="action" mat-header-cell *matHeaderCellDef>Action</th>
              <td mat-cell *matCellDef="let element">
                <button mat-raised-button *ngIf="userLevel != 'CUSTOMER'"
                        (click)="changeStatus(element.ticketId,'InProgress')"
                        [disabled]="isButtonClick">
                  IN PROGRESS
                </button>
                <button mat-raised-button *ngIf="userLevel == 'SUPPORT_OFFICER' &&
                        element.assignee == null"
                        (click)="addAssigneeToTicket(element.ticketId)">
                  <mat-icon> directions_walk</mat-icon>
                  Add Assignee
                </button>
                <span *ngIf="userLevel == 'CUSTOMER'">N/A</span>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
          <mat-paginator #paginator
                         [length]="ticketsList.length"
                         [pageSize]="10"
                         [pageSizeOptions]="[10, 15, 20]"
                         showFirstLastButtons>
          </mat-paginator>
        </mat-tab>
      </mat-tab-group>
      <!--<div class="home-page-create-ticket-button" style="width: 10%">
        <mat-toolbar class="mat-toolbar-background">
          <div class="create-ticket-icon" *ngIf="userLevel == 'CUSTOMER'">
            <button mat-raised-button (click)="openCreateTicket()">Create Ticket</button>
          </div>
        </mat-toolbar>
      </div>-->
    </div>
  </div>
