<div class="home-page">
  <div style="width: 10%">
  </div>
  <div style="width: 80%">
    <mat-tab-group (selectedTabChange)="onTabChanged($event)">
      <mat-tab label="Open">
        <table summary="Open task List" matSort mat-table [dataSource]="ticketsList"
               class="mat-elevation-z8">
          <ng-container matColumnDef="ticketId">
            <th id="ticketId" mat-header-cell *matHeaderCellDef>Ticket Id</th>
            <td mat-cell *matCellDef="let element">
              <span matTooltip="{{element.ticketId}}"
                    matTooltipPosition="left">{{element.ticketId}}</span>
            </td>
          </ng-container>
          <ng-container matColumnDef="title">
            <th id="title" mat-header-cell *matHeaderCellDef>Title</th>
            <td mat-cell *matCellDef="let element">
              <span matTooltip="{{element.title}}"
                    matTooltipPosition="left">{{element.title}}</span>
            </td>
          </ng-container>
          <ng-container matColumnDef="description">
            <th id="description" mat-header-cell *matHeaderCellDef>Description</th>
            <td mat-cell *matCellDef="let element">
              <span matTooltip="{{element.description}}"
                    matTooltipPosition="left">{{element.description}}</span>
            </td>
          </ng-container>
          <ng-container matColumnDef="action">
            <th id="action" mat-header-cell *matHeaderCellDef>Action</th>
            <td mat-cell *matCellDef="let element">
              <button mat-raised-button
                      (click)="changeStatus(element.ticketId,'InProgress')"
                      [disabled]="isButtonClick">
                IN PROGRESS
              </button>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator #paginator
                       [pageSizeOptions]="[10, 15, 20]"
                       showFirstLastButtons>
        </mat-paginator>
      </mat-tab>
      <mat-tab label="In Progress">
        <table summary="In Progress task List" matSort mat-table [dataSource]="ticketsList"
               class="mat-elevation-z8">
          <ng-container matColumnDef="ticketId">
            <th id="ticketId" mat-header-cell *matHeaderCellDef>Ticket Id</th>
            <td mat-cell *matCellDef="let element">
              <span matTooltip="{{element.ticketId}}"
                    matTooltipPosition="left">{{element.ticketId}}</span>
            </td>
          </ng-container>
          <ng-container matColumnDef="title">
            <th id="title" mat-header-cell *matHeaderCellDef>Title</th>
            <td mat-cell *matCellDef="let element">
              <span matTooltip="{{element.title}}"
                    matTooltipPosition="left">{{element.title}}</span>
            </td>
          </ng-container>
          <ng-container matColumnDef="description">
            <th id="description" mat-header-cell *matHeaderCellDef>Description</th>
            <td mat-cell *matCellDef="let element">
              <span matTooltip="{{element.description}}"
                    matTooltipPosition="left">{{element.description}}</span>
            </td>
          </ng-container>
          <ng-container matColumnDef="action">
            <th id="action" mat-header-cell *matHeaderCellDef>Action</th>
            <td mat-cell *matCellDef="let element">
              <button mat-raised-button
                      (click)="changeStatus(element.ticketId,'Closed')"
                      [disabled]="isButtonClick">
                CLOSE
              </button>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator #paginator
                       [pageSizeOptions]="[10, 15, 20]"
                       showFirstLastButtons>
        </mat-paginator>
      </mat-tab>
      <mat-tab label="Closed">
        <table summary="Closed task List" matSort mat-table [dataSource]="ticketsList"
               class="mat-elevation-z8">
          <ng-container matColumnDef="ticketId">
            <th id="ticketId" mat-header-cell *matHeaderCellDef>Ticket Id</th>
            <td mat-cell *matCellDef="let element">
              <span matTooltip="{{element.ticketId}}"
                    matTooltipPosition="left">{{element.ticketId}}</span>
            </td>
          </ng-container>
          <ng-container matColumnDef="title">
            <th id="title" mat-header-cell *matHeaderCellDef>Title</th>
            <td mat-cell *matCellDef="let element">
              <span matTooltip="{{element.title}}"
                    matTooltipPosition="left">{{element.title}}</span>
            </td>
          </ng-container>
          <ng-container matColumnDef="description">
            <th id="description" mat-header-cell *matHeaderCellDef>Description</th>
            <td mat-cell *matCellDef="let element">
              <span matTooltip="{{element.description}}"
                    matTooltipPosition="left">{{element.description}}</span>
            </td>
          </ng-container>
          <ng-container matColumnDef="action">
            <th id="action" mat-header-cell *matHeaderCellDef>Action</th>
            <td mat-cell *matCellDef="let element">
              <button mat-raised-button
                      (click)="changeStatus(element.ticketId,'ReOpen')"
                      [disabled]="isButtonClick">
                REOPEN
              </button>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator #paginator
                       [pageSizeOptions]="[10, 15, 20]"
                       showFirstLastButtons>
        </mat-paginator>
      </mat-tab>
      <mat-tab label="Reopened">
        <table summary="Open task List" matSort mat-table [dataSource]="ticketsList"
               class="mat-elevation-z8">
          <ng-container matColumnDef="ticketId">
            <th id="ticketId" mat-header-cell *matHeaderCellDef>Ticket Id</th>
            <td mat-cell *matCellDef="let element">
              <span matTooltip="{{element.ticketId}}"
                    matTooltipPosition="left">{{element.ticketId}}</span>
            </td>
          </ng-container>
          <ng-container matColumnDef="title">
            <th id="title" mat-header-cell *matHeaderCellDef>Title</th>
            <td mat-cell *matCellDef="let element">
              <span matTooltip="{{element.title}}"
                    matTooltipPosition="left">{{element.title}}</span>
            </td>
          </ng-container>
          <ng-container matColumnDef="description">
            <th id="description" mat-header-cell *matHeaderCellDef>Description</th>
            <td mat-cell *matCellDef="let element">
              <span matTooltip="{{element.description}}"
                    matTooltipPosition="left">{{element.description}}</span>
            </td>
          </ng-container>
          <ng-container matColumnDef="action">
            <th id="action" mat-header-cell *matHeaderCellDef>Action</th>
            <td mat-cell *matCellDef="let element">
              <button mat-raised-button
                      (click)="changeStatus(element.ticketId,'InProgress')"
                      [disabled]="isButtonClick">
                IN PROGRESS
              </button>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator #paginator
                       [pageSizeOptions]="[10, 15, 20]"
                       showFirstLastButtons>
        </mat-paginator>
      </mat-tab>
    </mat-tab-group>
  </div>
  <div class="home-page-create-ticket-button" style="width: 10%">
    <mat-toolbar class="mat-toolbar-background">
      <div class="create-ticket-icon">
        <button mat-raised-button (click)="openCreateTicket()">Create Ticket</button>
      </div>
    </mat-toolbar>
  </div>
